In [25]:
# dependencies and setup

import pandas as pd
import requests
import gmaps
import gmaps.datasets

# import API key

from config import g_key

In [26]:
# configure gmaps

gmaps.configure(api_key=g_key)

In [27]:
# read the WeatherPy_vacation.csv into a df

vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")

# display sample data

vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,12,Santa Helena De Goias,BR,79.12,overcast clouds,-17.8136,-50.5969,Castro Castle Hotel
1,14,Ojinaga,MX,83.35,scattered clouds,29.5667,-104.4167,Suites Las Palmas
2,19,Katsuura,JP,77.58,clear sky,35.1333,140.3000,Katsuura Hotel Mikazuki
3,20,La Asuncion,VE,82.13,broken clouds,11.0333,-63.8628,Colinas de Matasiete
4,23,Ciudad Bolivar,VE,78.58,overcast clouds,8.1222,-63.5497,Hotel Edi

In [28]:
vacation_df.count()

City_ID                211
City                   211
Country                211
Max Temp               211
Current Description    211
Lat                    211
Lng                    211
Hotel Name             211
dtype: int64

In [29]:
# review the formatting template

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list

hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# get the latitude and longitude from each row and store in a new df

locations = vacation_df[["Lat", "Lng"]]

In [30]:
# add a marker layer for each city to the map

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# create df for each city by filtering the 'vacation_df' using the loc method
# the starting and ending city should be the same city

vacation_start = vacation_df.loc[vacation_df["City"] == "Ukiah"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "San Ramon"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Isla Vista"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Saint George"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Ukiah"]
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
187,619,Ukiah,US,82.65,clear sky,39.1502,-123.2078,Hampton Inn Ukiah

In [32]:
# get the latitude-longitude pairs as tuples from each city df using the to_numpy function and list indexing

start = vacation_start[["Lat","Lng"]].to_numpy()
end = vacation_end[["Lat","Lng"]].to_numpy()
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()

start = start.tolist()[0]
end = end.tolist()[0]
stop1 = stop1.tolist()[0]
stop2 = stop2.tolist()[0]
stop3 = stop3.tolist()[0]

start

[39.1502, -123.2078]

In [34]:
# define a new figure object

fig = gmaps.figure()

# create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints

# the travel_mode should be "DRIVING", "BICYCLING", or "WALKING"

vacation_itinerary = gmaps.directions_layer(start, end,
        waypoints=[stop1, stop2, stop3],
        travel_mode='BICYCLING')

# add the layer to the map

fig.add_layer(vacation_itinerary)

# display the map

fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
#  combine the four city df into one df using the concat() function

itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# display sample data

itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,619,Ukiah,US,82.65,clear sky,39.1502,-123.2078,Hampton Inn Ukiah
1,298,San Ramon,US,78.60,clear sky,37.7799,-121.9780,San Ramon Marriott
2,444,Isla Vista,US,78.98,clear sky,34.4133,-119.8610,Best Western Plus South Coast Inn
3,31,Saint George,US,88.39,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn

In [36]:
# review the formatting template

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# det the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# get the latitude and longitude from each row and store in a new df
locations = itinerary_df[["Lat", "Lng"]]

In [37]:
# add a marker layer for each city to the map

locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]

# define a new figure object

fig = gmaps.figure(center=(25.0, 85.0), zoom_level=5.5)

# add the layer to the map

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# display the map

fig

Figure(layout=FigureLayout(height='420px'))